<div id="sect1"class="container">
  <div class="jumbotron">
    <h1>Welcome To The Game Management System!</h1>
    <p class="lead">Manage your games with ease.</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Register For The Game</h2>
          <p class="card-text">Click here for register for the game.</p>
          <a routerLink="/registration" class="btn btn-primary">Add Game</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">View All Games</h2>
          <p class="card-text">Click here to view all the games in the system.</p>
          <a routerLink="/gallery" class="btn btn-primary">View Game</a>
        </div>
      </div>
    </div>
  </div>
</div>
