

form {
  background-color: rgba(255, 255, 255, 0.5); /* transparent white */
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  margin: 0 auto; /* center the form horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center the form vertically */
  color: rgb(0, 0, 0);
}

input{
  color: rgb(90, 80, 80);
}
h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

button {
  background-color: #656565;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #000000b6;
}
