<section class="about-us">
    <h1>About Us</h1>
    <p>We are a team of passionate gamers who love creating and managing games.</p>
    <p>Follow us on social media:</p>
    <ul>
      <li><i class="fab fa-facebook"></i> Facebook</li>
      <li><i class="fab fa-instagram"></i> Instagram</li>
      <li><i class="fab fa-twitter"></i> Twitter</li>
      <li><i class="fab fa-linkedin"></i> LinkedIn</li>
    </ul>
    <p>Contact us:</p>
    <ul>
      <li>Email: info@example.com</li>
      <li>Phone: 123-456-7890</li>
    </ul>
    <p>We specialize in game development and management. Our team has years of experience in creating innovative and exciting games that keep players engaged. We offer a range of services including game design, development, testing, and management. Let us help you bring your gaming ideas to life!</p>
  </section>
  