<h2>Registration Form</h2>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="playerName">Player Name:</label>
    <input type="text" name="playerName" id="playerName" [(ngModel)]="playerName" required>
  </div>

  <div class="form-group">
    <label for="playerAge">Player Age:</label>
    <input type="number" name="playerAge" id="playerAge" [(ngModel)]="playerAge" required>
  </div>

  <div class="form-group">
    <label for="playerMobile">Player Mobile Number:</label>
    <input type="tel" name="playerMobile" id="playerMobile" [(ngModel)]="playerMobile" required>
  </div>

  <div class="form-group">
    <label for="gender">Gender:</label>
    <select class="form-control" id="gender" name="gender" required [(ngModel)]="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>

  <div class="form-group">
    <label for="playerEmail">Player E-Mail Id:</label>
    <input type="email" name="playerEmail" id="playerEmail" [(ngModel)]="playerEmail" required>
  </div>

  <div class="form-group">
    <label for="numberOfGames">Number of Games:</label>
    <select name="numberOfGames" id="numberOfGames" (change)="onChangeGames($event)">
      <option value="0" selected>Select Number of Games</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>

  <div *ngIf="selectedGames.length > 0" class="form-group">
    <div *ngFor="let game of selectedGames; let i = index;">
      <label for="game{{i}}">Game {{i+1}}:</label>
      <select name="game{{i}}" id="game{{i}}" (change)="onChangeGame(i, $event)">
        <option value="" selected>Select a game</option>
        <option *ngFor="let option of gameOptions | keyvalue" [value]="option.key">{{option.value[0]}}</option>
      </select>
      <span *ngIf="selectedGames[i]">{{gameTimings[selectedGames[i]]}}</span>
    </div>
  </div>

  <div class="form-group">
    <label for="playerAddress">Player Address:</label>
    <input name="playerAddress" id="playerAddress" [(ngModel)]="playerAddress" required>
  </div>

  <div class="form-group">
    <label for="playerCity">Player City:</label>
    <input type="text" name="playerCity" id="playerCity" [(ngModel)]="playerCity" required>
  </div>

  <button type="submit" (click)="onSubmit()">Submit</button>
</form>

<div *ngIf="onSubmit" id="Sub">
  <h1>Form Values</h1>
  <p>Name: {{ playerName }}</p>
  <p>Age: {{ playerAge }}</p>
  <p>Mobile Number: {{ playerMobile }}</p>
  <p>Gender: {{gender}}</p>
  <p>Email: {{ playerEmail }}</p>
  <p>Address: {{ playerAddress }}</p>
  <p>City: {{ playerCity }}</p>
  <p>Selected Games:</p>
  <ul>
    <li *ngFor="let game of selectedGames">
      {{ game }} - {{ gameTimings[game] }}
    </li>
  </ul>
  
</div>