form {
  max-width: 600px;
  margin: 0 auto;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(235, 235, 226, 0.5);
}

h2{
  text-align: center;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

select option {
  padding: 5px;
}

button[type="submit"] {
  background: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #3e8e41;
}

/* optional styles for responsiveness */
@media screen and (max-width: 600px) {
  form {
    max-width: 100%;
    padding: 10px;
  }
}
#Sub {
  background-color: #212121ac;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

#Sub h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

#Sub p {
  font-size: 18px;
  margin-bottom: 10px;
}

#Sub ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#Sub li {
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 1.5;
}

#Sub li:before {
  content: "- ";
}
